.first-section{
    display: flex;
    background-image: url(image/background1.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;

}
body{
    margin: 0;
}
.color{
    color: orangered;
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}
p{
    font-family: 'Otomanopee One', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
padding-right: 5%;
}
.skip-the-diet{
    width: 50%;
    padding-left: 5%;

}
.skip-the-diet img{
    width: 70%;
    padding-left: 10%;
}
.button{
    background-image: linear-gradient(rgb(231, 28, 13), rgb(122, 99, 185));
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 800;
    color: rgb(241, 235, 229);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    display:inline-block;
    
}
body{
    margin: 0;
}
.about-me{
    width: 50%;
    padding-left: 5%;

}
.about-me img{
    width: 70%;
    padding-left: 5%;
}
.middle-section{
    display: flex;
    background-image: url(image/background2.jpg);
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 50px;
}



.flexible-last{
    display: flex;
}
.block{
    display: inline-block;
    background-color: white;
    border: 12px solid white;
    width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 25px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(132, 138, 132);
}
.block img{
    width: 100%;
}
.last-section{
    background-image: url(image/background3.jpg);
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 80px;
}
.my-recipies{
    text-align: center;
 
}
#sign-up{
    text-align: center;
    margin-top: 100px;
   
}
.login{
    display: inline;
    font-weight: 800;
    text-decoration: none;
    margin-left: 25px;
    font-size: 25px;
    border-radius: 10px;
}
footer{
    background-color: black;
   text-align: center;
}

